apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 2  # Creates multiple instances
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-container
        image: madhu/web5
        volumeMounts:
        - name: my-storage
          mountPath: /data  # Mounting Persistent Volume to this directory
      volumes:
      - name: my-storage
        persistentVolumeClaim:
          claimName: my-pvc
